h1{
    font-family: Roboto;
    font-weight: bold;
    
}
#banner{
    width: 100%;
    height: 360px;
    object-fit: cover;
} 
h2{
    font-family: Roboto;
    font-size: 32px;
    color: rgb(102, 89, 62);
}
.bodytext{
    font-family: Roboto;
    color: rgb(37, 36, 34);
}
#con{
    max-width:720px;
    margin: 0 auto;
    text-align:center;
}

